.todoCard {
  border: 2px solid var(--bulma-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todoCard:hover {
  border-color: var(--bulma-shade);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.button {
  margin-right: 0.5rem;
}

.completed {
  opacity: 0.5;
}

.todoCard:hover {
  border-color: var(--bulma-shade);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}